.NewUser {
    background-size: cover;
    height: 100vh;
    padding-top: 50px;
}
.p {
    margin-bottom: 3px;
}

.register-card {
    border-radius: 8px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    background-color: white;
    margin:auto;
    width: 25%;
    padding-bottom: 20px;
}
.Button {
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
  }
